.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 2vw;*/


}

.app-wrapper-content {

    grid-area: content;
    box-shadow: 7px 3px 3px #d5d4a9;
    border: 1px solid yellow;
    background-color: honeydew;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}






